@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/bg.png');
  
  background-attachment: fixed;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  background-color: #0f172a; /*slate-900*/
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}